<<<<<<< HEAD
<p>Hello</p>
=======

<p>Hello</p> 
<%= params[:name] %>
<%= params[:sname] %>

<%= form_tag("/list", :method=>"get") do %>
<%= submit_tag("List", :class=>"btn") %></br>
<% end %>
>>>>>>> 1b5fedf43e2d92183f310f2080be3254d711635b
