<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <link rel="stylesheet" type="text/css" href="/list.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>All users</p>
</body>